<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carbon Foot Print</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/2.jpg') }}");
            background-size: cover;  /* Make the background cover the entire screen */
            background-position: center;  /* Center the background image */
            margin: 0;
            height: 100vh;  /* Ensure the body takes up the full viewport height */
        }
    </style>
    <style>
        .btnGroupQuiz a {
            margin-right: 10px;
        }
        .btnGroupQuiz a:last-child {
            margin-right: 0;
        }
    </style>
</head>
<body>
    <form action="/emissionCalc", method="POST">
        <div class="quizQuestions">
            <label for="transport" style="margin-right: 8px;" >What form of transportation did you mainly use? </label>
            <select name="transport" id="transport">
                <option value="select"> Choose an option </option>
                <option value="walking/biking"> Walking/Biking </option>
                <option value="electric/hybrid car"> Electric/Hybrid Cars </option>
                <option value="gas car"> Gasoline Car </option>
                <option value="bus"> Bus </option>
                <option value="train"> Train </option>
                <option value="airplane"> Airplane </option>
            </select>
        </div>

        <div class="quizQuestions">
            <label for="miles" style="margin-right: 20px;">For how many miles did you use that transportation today?</label>
            <input type="text" id="miles" name="miles" size="53">
        </div>

        <div class="quizQuestions">
            <label for="home" style="margin-right: 8px;" > How energy efficient is your home? </label>
            <select name="home" id="home">
                <option value="select"> Choose an option </option>
                <option value="very"> Very! </option>
                <option value="somewhat"> Somewhat </option>
                <option value="nope"> Not at all :( </option>
            </select>
        </div>

        <div class="quizQuestions">
            <label for="food" style="margin-right: 8px;">Did you eat animal-based products today?</label>
            <select name="food" id="food">
                <option value="select"> Choose an option </option>
                <option value="every meal"> Every meal </option>
                <option value="one meal"> One meal </option>
                <option value="no beef"> No beef </option>
                <option value="veg"> Vegetarian </option>
                <option value="vegan"> Vegan </option>
            </select>
        </div>

        <div class="quizQuestions">
            <label for="waste" style="margin-right: 8px"> Did you use the recycling/food waste bins provided by Waste Management today? </label>
            <select name="waste" id="waste">
                <option value="select"> Choose an option </option>
                <option value="yes"> Yes </option>
                <option value="tried"> I try to </option>
                <option value="no"> No </option>
            </select>
        </div>

        <div class="btnGroupQuiz">
            <a>
                <input type="submit" value="Submit!" id="submit" name="submit">
            </a>
        </div>

        <div class="quizQuestions" style="color: {{ color }}">
            {{ message }}
        </div>
    </form>


</body>
</html>
